.home {
  display: flex;
  flex-direction: column;  /* Stack elements vertically */
  align-items: center;  /* Centers all child elements horizontally */
  justify-content: center; 
  width: 100%;
  padding: 20px;
}


.search-container {
  display: flex;
  justify-content: center;  /* Centers horizontally */
  align-items: center; 
  text-align: center; /* Centers vertically */
  margin: 20px 0;  /* Adds spacing */
  width: 100%;
}

.search-button {
  background: #141010 !important;  /* Black background */
  border: none;
  color: white !important;  /* White text */
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px; /* Rounded corners */
  transition: background 0.3s ease, transform 0.2s ease;
}


.search-button:hover {
  background: linear-gradient(45deg, #0f1113, #090b0c);
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .search-button {
      font-size: 14px;
      padding: 10px 20px;
  }
}




@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
  }

  .search-form {
    margin-bottom: 1rem;
  }
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  text-align: center;

}

