.movie-card {
 
  position: relative;

  border-radius: 8px;

  overflow: hidden;

  background-color: #1a1a1a;

  transition: transform 0.2s;

  height: 100%;

  display: flex;
  width: 250px;
  max-width: 300px;
  min-height: 400px;
  flex: 1 1 250px;
  flex-direction: column;

}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px;
}



.movie-card:hover {

  transform: translateY(-5px);

}



.movie-poster {

  position: relative;

  aspect-ratio: 2/3;

  width: 100%;

}



.movie-poster img {

  width: 100%;

  height: 100%;

  object-fit: cover;


  position: relative;


  justify-content: center;

}



.movie-overlay {

  position: absolute;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  background: linear-gradient(

    to bottom,

    rgba(0, 0, 0, 0.1),

    rgba(0, 0, 0, 0.8)

  );

  opacity: 0;

  transition: opacity 0.2s;

  display: flex;

  flex-direction: column;

  justify-content: flex-end;

  padding: 1rem;

}



.movie-card:hover .movie-overlay {

  opacity: 1;

}