.movie-details {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.movie-container {
    display: flex;
    align-items: flex-start; 
    max-width: 800px;
    gap: 20px; /
}

.moviedetail-poster {
    width: 300px; 
    max-width: 100%; 
    border-radius: 10px; 
}


.movie-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.movie-info h1 {
    margin-bottom: 10px;
}


.movie-info p {
    margin-bottom: 10px;
    line-height: 1.5;
}


@media (max-width: 768px) {
    .movie-container {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
    }

    .moviedetail-poster {
        width: 100%; 
        max-width: 300px; 
    }

    .movie-info {
        align-items: center; 
        padding: 10px;
    }
}
