
    .signup-container{
        display: flex;
        justify-content:center;
        align-items: center;
        
    }
  
  .signup-card {
    
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: 50vh;
    align-items: center;
    margin-top: 50px;
  }
  

  .signup-card input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  

  .signup-card button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signup-card button:hover {
    background-color: #0056b3;
  }
  

  .error-message {
    color: red;
    font-size: 14px;
  }
  
 
  .signup-card p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-card p a:hover {
    text-decoration: underline;
  }
  